<h3>Configuring Apps in Blackboard Learn</h3>

<div class="flex-video">
  <iframe width="640" height="480" src="http://www.youtube.com/embed/Qh_X3J8VADE" frameborder="0" allowfullscreen></iframe>
</div>

<iframe src="http://library.blackboard.com/ref/df5b20ed-ce8d-4428-a595-a0091b23dda3/Content/_admin_app_system/admin_app_basic_lti_tool_providers.htm" 
  class="span-12 columns" height="2200" frameborder="0"></iframe>