<section>
  <h2>Configuring Apps in Moodle</h2>
  <p>Moodle added support for LTI apps in version 2.2. The following page explains how to set up external apps in Moodle.</p>

  <iframe src="http://docs.moodle.org/22/en/External_tool_settings" frameborder="0" class="span12" height="3000" style="margin-bottom: 100px;"></iframe>
</section>