<h3>Configuring Apps in Sakai</h3>

<p>Sakai is LTI compatible, and has been since version 2.5. <a href="http://www.edugarage.com/download/attachments/75071496/2010-06-15-blti.pdf">This document</a> has some resources around LTI, including the following directions for trying out LTI in Sakai:</p>

<ul style="margin-left: 25px;">
  <li><a href="http://nightly2.sakaiproject.org:8085/portal">http://nightly2.sakaiproject.org:8085/portal</a></li>
  <li>Make an account – Include full name and E-Mail</li>
  <li>Make a site, Add Basic LTI, Configure the BLTI Tool</li>
  <li>http://wiscrowd.appspot.com/wiscrowd</li>
  <li>Key = 12345 / secret</li>
</ul>