<div class="sub-nav-wrapper">
  <div class="text-center">
    <ul class="nav nav-pills sub-nav">
      {{#view App.NavView}}{{#linkTo 'api.introduction'}}Introduction<div class="arrow-down"></div>{{/linkTo}}{{/view}}
      {{#view App.NavView}}{{#linkTo 'api.apps_list'}}App List<div class="arrow-down"></div>{{/linkTo}}{{/view}}
      {{#view App.NavView}}{{#linkTo 'api.app_details'}}App Details<div class="arrow-down"></div>{{/linkTo}}{{/view}}
      {{#view App.NavView}}{{#linkTo 'api.app_reviews'}}App Reviews<div class="arrow-down"></div>{{/linkTo}}{{/view}}
      {{#view App.NavView}}{{#linkTo 'api.contributing_reviews'}}Contributing Reviews<div class="arrow-down"></div>{{/linkTo}}{{/view}}
      {{#view App.NavView}}{{#linkTo 'api.retrieving_a_review'}}Retrieving_a Review<div class="arrow-down"></div>{{/linkTo}}{{/view}}
    </ul>
  </div>
</div>

<div class="bg-light-grey">
  <div class="container">
    {{outlet}}
  </div>
</div>