<div class="sub-nav-wrapper">
  <div class="text-center">
    <ul class="nav nav-pills sub-nav">
      {{#view App.NavView}}<a href="#" class="active">Aphabetical<div class="arrow-down"></div></a>{{/view}}
      {{#view App.NavView}}<a href="#">Popular<div class="arrow-down"></div></a>{{/view}}
      {{#view App.NavView}}<a href="#">Recent<div class="arrow-down"></div></a>{{/view}}
    </ul>
  </div>
</div>

<div class="bg-light-grey">
  <div class="container">
    {{outlet}}
  </div>
</div>