<div class="bg-light-grey">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 offset2">
        <h2 class="page-header">User Profile</h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4 offset2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eveniet, iusto, dolore, iste ratione quaerat non ex quo laudantium provident necessitatibus repudiandae eligendi veritatis nulla fuga tempore excepturi. Consequuntur, nobis.
        </p>
      </div>
      <div class="span4">
        <form {{action save on="submit"}} class="session-form">
          <div class="controls">
            {{input type="email" value=email placeholder="Email Address"}}
          </div>
          <div class="controls">
            {{input type="text" value=name placeholder="Full Name"}}
          </div>
          <div class="controls">
            {{input type="text" value=organization placeholder="Company/Organization"}}
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>