@import "_variables";

.navbar-inner {
  box-shadow:           none;
  -moz-box-shadow:      none;
  -webkit-box-shadow:   none;
  background:           transparent !important;
  border:               none !important;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 5px;
}

$bg-grey: #eee;

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 30;
  header {
    padding: 20px 0 5px 0;
    opacity: 0.98;
    border-bottom: 1px solid $bg-grey;
    background: #fafafa;
    position: relative;
    z-index: 2;
  }
}

#content {
  min-width: 970px;
  padding-top: 86px;
  section {
    h2,h3,h4 {
      margin-top: 0px;
    }
  }
}

footer#footer {
  text-align: center;
  padding-top: 5px;
  font-size: 300;
}

.sub-nav-wrapper {
  .sub-nav {
    width: -webkit-fit-content;
       width: -moz-fit-content;
            width: fit-content;
    margin: 0 auto;
    margin: 0px auto;
    li {
      margin: 0 15px;
      text-align: center;
      a:hover {
        background-color: transparent;
      }
      .arrow-down {
        display: none;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        margin: 10px auto -30px;
      }
      a.active {
        color: $navLinkColor;
        background-color: transparent;
        .arrow-down {
          display: block;
        }
      }
    }
  }
}

.bg-light-grey {
  padding: 80px 0;
  background-color: $bg-grey;
  border-top: 1px solid darken($bg-grey, 10%);
  border-bottom: 1px solid darken($bg-grey, 10%);
}

// Forms

.session-form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    margin: 0 0 15px -5px;
    font-weight: 400;
    font-size: 16px !important;
    padding: 8px;
  }

  button {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    margin: 0 0 15px -5px;
    font-weight: 300;
    font-size: 16px !important;
    padding: 8px 20px;
  }
}

form {
  .controls {
    small.below {
      display: none;
    }
    &.error {
      small.below {
        display: block;
        width: 99%;
        position: relative;
        top: -15px;
        padding: 2px 9px;
        margin: 0 10px 0 -5px;
        background-color: $errorBackground;
        color: $errorText;
      }
    }
  }
}



// Flash

#flash-view {
  position: fixed;
  top: 87px;
  width: 100%;
  z-index: 20;
  overflow: hidden;
}
#flash-view #message {
  color: #fff;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  padding: 20px 0;
}
#flash-view.notice #message {
  background-color: #6c3;
}
#flash-view.alert #message {
  background-color: #f14247;
}
#flash-view.error #message {
  background-color: #f14247;
}